<div class="container mt-5">
  <div class="card col-lg-4 ">
    <!-- <img src="..." class="card-img-top" alt="..." /> -->
    <div class="card-body  text-center">
      <div class="col-12 col-md-12 text-center">
        <button class="btn btn-lg btn-primary">Reservar Citas</button>
      </div>
      <br />
      <div class="col text-center">
        <button class="btn btn-lg btn-primary">Confirmar Citas</button>
      </div>
      <br />
      <div class="col text-center">
        <button class="btn btn-lg btn-primary">Cancelar Citas</button>
      </div>
      <br />
      <div class="col text-center">
        <button class="btn btn-lg btn-primary">Ver mis Citas</button>
      </div>
      <br />
      <div class="col text-center">
        <button class="btn btn-lg btn-primary">Salir</button>
      </div>
      <br />
      <div class="col text-center">
        <button class="btn btn-lg btn-primary">Cambiar contraseña</button>
      </div>
      <br />
    </div>
  </div>
</div>
